networks:
  inception:
    name: inception

#volumes:

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx/.
    init: true
    #ports:
    #- "443:443"
    depends_on:
    - wordpress
    networks:
    - inception
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/nginx/.
    init: true
    #ports:
    #- "443:443"
    depends_on:
    - mariadb
    networks:
    - inception
    restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/.
    init: true
    #ports:
    #- "443:443"
    networks:
    - inception
    restart: always