networks:
  inception:
    name: inception
    driver: bridge

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /Users/${USER}/data/wordpress
#      device: /home/${USER}/data/wordpress
      o: bind
      type: none
  
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /Users/${USER}/data/mariadb
#      device: /home/${USER}/data/mariadb
      o: bind
      type: none

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx/.
    ports:
    - "443:443"
    depends_on:
    - wordpress
    networks:
    - inception
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress/.
    depends_on:
    - mariadb
    networks:
    - inception
    restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/.
    volumes:
    - mariadb:/var/lib/mysql
    env_file:
    - ./.env
    networks:
    - inception
    restart: always