networks:
  inception:
    name: inception

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: /home/$(USER)/data/wordpress
      o: bind,ro
      type: none
  
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: /home/$(USER)/data/mariadb
      o: bind,ro
      type: none

services:
  nginx:
    container_name: nginx
    build: ./requirements/nginx/.
    #init: true
    #ports:
    #- "443:443"
    depends_on:
    - wordpress
    networks:
    - inception
    restart: always

  wordpress:
    container_name: wordpress
    build: ./requirements/nginx/.
    #init: true
    #ports:
    #- "443:443"
    depends_on:
    - mariadb
    networks:
    - inception
    restart: always

  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb/.
    #init: true
    #ports:
    #- "443:443"
    networks:
    - inception
    restart: always