networks:
  inception:
    driver: bridge

volumes:
  wordpress:
    name: wordpress
    driver: local
    driver_opts:
#      device: /Users/${USER}/data/wordpress
      device: /home/${USER}/data/wordpress
      o: bind
      type: none
  
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
#      device: /Users/${USER}/data/mariadb
      device: /home/${USER}/data/mariadb
      o: bind
      type: none

services:
  nginx:
    container_name: nginx
    init: true
    build: ./requirements/nginx/.
    ports:
    - "443:443"
    depends_on:
    - wordpress
    volumes:
    - wordpress:/var/www/html
    env_file:
    - ./.env
    networks:
    - inception
    restart: always

  wordpress:
    container_name: wordpress
    init: true
    build: ./requirements/wordpress/.
    depends_on:
    - mariadb
    secrets:
    - wp_root_password
    - wp_password
    - db_password
    env_file:
    - ./.env
    networks:
    - inception
    restart: always

  mariadb:
    container_name: mariadb
    init: true
    build: ./requirements/mariadb/.
    volumes:
    - mariadb:/var/lib/mysql
    secrets:
    - db_root_password
    - db_password
    env_file:
    - ./.env
    networks:
    - inception
    restart: always

secrets:
  db_root_password:
    file: ../secrets/db_root_passwd
  db_password:
    file: ../secrets/db_passwd
  wp_root_password:
    file: ../secrets/wp_root_passwd
  wp_password:
    file: ../secrets/wp_passwd


